.mainbox{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem 0 1rem ;
    border: 0.1rem solid rgba(0, 0, 0, 0.16);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    align-items: center;
    font-family: Sans-serif;
    
}
.rightside{
    display: flex;
    gap: 1.5rem;
    font-weight: 2rem;
}
.leftside{
    font-size: 1.5rem;
    font-weight: bold;
}
.table1{
    width: 50rem;
}
body{
    font-family: Sans-serif;
}